.What{
    background: url('../../assets/img/bg__img2.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    color: white;
    margin-top: -10px;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    /* background-position-y: -800px; */
}

.what__p{
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2px;
    text-align: left;
}
.what__h1{
    margin-top: 20px;
    width: 410px;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 3px;
    text-align: left;
    text-transform: uppercase;
}

.what__span{
    margin-top: 20px;
    position: absolute;
    width: 500px;
    height: 2.99px;
    border-radius: 4px;
    background: rgb(255, 255, 255);
}

.what__info{
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    width: 400px;
    margin-top: 60px;   
}

.what__info2{
    font-size: 20px;
    font-weight: 400;
    width: 400px;
    margin-top: 30px;
}

.what__div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.swiper__img{
    /* background-size: cover; */
    width: 380px;
    height: 520px;
}



body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 380px;
  height: 520px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: #fff;
  /* background: url('../../assets/img/screenshot 1.png'); */
}

.swiper-slide:nth-child(2n) {
  background-color: #fff;
  /* background: url('../../assets/img/screenshot 2.png'); */
}

.swiper-slide:nth-child(3n) {
  background-color: #fff;
  /* background: url('../../assets/img/screenshot 3.png');  */
}


@media only screen and (max-width: 1070px){
  .what__div{
    margin-left: -10px;
  }
  .what__span{
    width: 400px;
  }
  .what__h1{
    font-size: 60px;
  }
  .what__info{
    font-size: 16px;
  }
  .what__info2{
    font-size: 16px;
  }
}

@media only screen and (max-width: 1010px){
  .swiper {
    width: 360px !important;
    height: 500px !important;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 970px){
  .what__div{
    margin-right: 20px;
  }
}

@media only screen and (max-width: 885px){
  .what__p{
    font-size: 20px;
  }
  .what__h1{
    margin-top: 5px;
    font-size: 50px;
    width: 310px; 
  }
  .what__info{
    margin-top: 30px;
    font-size: 13px;
  }
  .what__info2{
    font-size: 13px;
  }
  .what__span{
    margin-top: 10px;
    width: 300px;
  }
  .swiper {
    width: 320px !important;
    height: 440px !important;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 800px){
  .what__div{
    flex-direction: column-reverse;
    gap: 20px;
  }
  .what__p{
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
  }
  .what__h1{
    margin-top: 20px;
    width: 410px;
    font-size: 60px;
    text-align: center;
  }
  .what__span{
    display: block;
    text-align: center;
    margin-left: 5px;
    width: 400px;
  }
  .what__info{
    text-align: center;
    font-size: 20px;
  }
  .what__info2{
    text-align: center;
    font-size: 20px;
  }
  .swiper {
    width: 380px !important;
    height: 520px !important;
  }
}

@media only screen and (max-width: 540px){
  .swiper {
    width: 340px !important;
    height: 480px !important;
  }
  .what__h1{
    font-size: 50px;
  }
  .what__span{
    display: block;
    margin: 0 auto;
    margin-left: 50px;
    width: 300px;
  }
  .what__info{
    font-size: 16px;
  }
  .what__info2{
    font-size: 16px;
  }
}

@media only screen and (max-width: 470px){
  .swiper {
    width: 300px !important;
    height: 440px !important;
  }
  .what__h1{
    width: 310px;
    font-size: 40px;
    margin-left: 50px;
  }
  .what__p{
    margin-left: 30px;
    font-size: 20px;
  }
  .what__span{
    display: block;
    margin: 0 auto;
    margin-left: 100px;
    width: 200px;
  }
  .div__div{
    margin-left: -30px;
  }
  .what__info{
    margin-left: 60px;
    width: 300px;
    text-align: center;
    font-size: 14px;
  }
  .what__info2{
    margin-left: 50px;
    width: 300px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 470px){
  .swiper {
    width: 260px !important;
    height: 400px !important;
  }
}

@media only screen and (max-width: 440px){
  .swiper {
    img{
      width: 260px !important;
      height: 400px !important;
    }
  }
}